/* styles.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    background-color: #526479;
    border-radius: 5px 20px 5px;
  }

.logo {
  width: 40px;
  height: 40px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: whitesmoke; 
}

.buttons {
  display: flex;
}

.login-btn,
.signup-btn {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #007bff;
  cursor: pointer;
}

.login-btn:hover,
.signup-btn:hover {
  opacity:.9;
}

.signup-btn {
  background-color: #28a745;
}
